<div class="row">
  <div class="col-lg-3">
    <h4 class="ml-2">Formulaire Stage :</h4>
    <form class="internshipform" [formGroup]="internshipform">

      <label for="title">
        <p>Titre</p>
        <input class="input-custom" type="text" id="title" [formControlName]="'title'">
      </label>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Pays</label>
        <select class="form-control ml-2" id="country" (change)="getSelectedCountry($event.target.value)" (ngModel)="country">
          <option *ngFor="let country of listFlag" [ngValue]="country" >{{country.CountryName}}</option>
        </select>
      </div>

      <label for="company">
        <p>Entreprise</p>
        <input class="input-custom" type="text" id="company" [formControlName]="'company'">
      </label>

      <label for="durationNbWeek">
        <span>Durée ( En Semaine )</span>
        <select class="form-control"  name="duration" id="durationNbWeek" [formControlName]="'durationNbWeek'">
          <option *ngFor="let data of tabInternshipDurations" [ngValue]="data">{{ data }}</option>
        </select>
      </label>
      
      <label for="schoolYear">
        <span>Année Scolaire</span>
        <input class="input-custom" type="text" id="schoolYear" [formControlName]="'schoolYear'">
      </label>

      <label for="section">
        <span>Section</span>
        <select class="form-control" name="section" id="section" [formControlName]="'section'">
          <option value="SI">SI</option>
          <option value="GE">GE</option>
          <option value="BAT">BAT</option>
          <option value="ELEC">ELEC</option>
          <option value="MAM">MAM</option>
        </select>
      </label>
            
      <label for="description">
        <p>Description</p>
        <input class="input-custom" type="text" id="description" [formControlName]="'description'">
      </label>
      
      <label for="city">
        <p>Ville</p>
        <input class="input-custom" type="text" id="city" [formControlName]="'city'">
      </label>

      <label for="lab">
        <span>Type</span>
        <select class="form-control" name="lab" id="lab" [formControlName]="'lab'">
          <option [ngValue]="true">Laboratoire</option>
          <option [ngValue]="false">Entreprise</option>
        </select>
      </label>

      <label for="salary">
        <p>Salaire</p>
        <input class="input-custom" type="number" id="salary" [formControlName]="'salary'">
      </label>

      <label for="websiteURL">
      <p>Site Web</p>
        <input class="input-custom" type="text" id="websiteURL" [formControlName]="'websiteURL'">
      </label>

      <label for="ambience">
        <p>Ambiance Globale</p>
        <input class="input-custom" type="text" id="ambience" [formControlName]="'ambience'">
      </label>

      <label for="lab">
        <span>Note (/5)</span>
        <select class="form-control" name="costOfLife" id="costOfLife" [formControlName]="'costOfLife'">
          <option [ngValue]="0">0</option>
          <option [ngValue]="1">1</option>
          <option [ngValue]="2">2</option>
          <option [ngValue]="3">3</option>
          <option [ngValue]="4">4</option>
          <option [ngValue]="5">5</option>
        </select>
      </label>
      
      <label for="student">
        <p>Etudiant</p>
        <select class="form-control" id="student" [formControlName]="'student'">
            <option *ngFor="let student of formerStudentList" [ngValue]="student">
              {{student.firstName}} {{student.lastName}}
            </option>
        </select>   
      </label>

      <label for="tutorMail">
        <span>Mail Tuteur *(Laboratoire)</span>
        <input class="input-custom" type="text" id="tutorMail" [formControlName]="'tutorMail'">
      </label>

      <button type="submit" class="btn btn-primary ml-2" (click)="addInternship()">Valider</button>

    </form>
  </div>
</div>