<!--<h1 class="waiter"> {{count}} </h1>-->
<div *ngIf="unvalidatedInternship == null">
  Aucun stage à valider
</div>
<div class="row" *ngIf="unvalidatedInternship">
  <div class="col-lg-3 col-student">
    <div class="student">
      <img src="{{ unvalidatedInternship.student.photo }}">
      <div class="info">
        <span>{{ unvalidatedInternship.student.firstName }} {{ unvalidatedInternship.student.lastName }}</span>
      </div>
      <div class="info">
        <span class="label">Pays d'expatriation: </span>
        <span>{{ unvalidatedInternship.student.country }}</span>
      </div>
      <div class="info">
        <span class="label">Section: </span>
        <span> {{ unvalidatedInternship.student.section }} </span>
      </div>
      <div class="info">
        <span class="label">Contact</span><a href="mailto:{{ unvalidatedInternship.student.contact }}">
          <p> {{ unvalidatedInternship.student.contact }}</p>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="row internship">
      <div class="col-lg-5">
        <div class="info">
          <span class="mr-3 label">Titre:</span>
          <span>{{ unvalidatedInternship.title }}</span>
        </div>
        <div class="info">
          <p class="d-inline mr-3 label">Pays:</p>
          <img class="img-country" src="{{ unvalidatedInternship.countryFlag }}">
        </div>
        <div class="info">
          <span class="label">Entreprise:</span>
          <span> {{ unvalidatedInternship.company }}</span>
        </div>
        <div class="info">
          <span class="label">Durée:</span>
          <span> {{ unvalidatedInternship.durationNbWeek }} semaines</span>
        </div>
        <div class="info">
          <span class="label">Année:</span>
          <span> {{ unvalidatedInternship.schoolYear }} </span>
        </div>
        <div class="info">
          <span class="label">Site web:</span><a href="{{ unvalidatedInternship.websiteURL }}">
            <p> {{ unvalidatedInternship.websiteURL }}</p>
          </a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="info">
          <span class="label">Ville: </span>
          <span>{{ unvalidatedInternship.city }}</span>
        </div>
        <div class="info">
          <span class="label">Rémunération: </span>
          <span>{{ unvalidatedInternship.salary }} {{ unvalidatedInternship.currency }}</span><span
            *ngIf="unvalidatedInternship.salary != 0"> par mois</span>
        </div>
        <div class="info">
          <span class="label">Coût de la vie: </span>
          <i class="fas fa-dollar-sign green-dollar"
            *ngFor="let dollar of getGreenDollarArray(unvalidatedInternship.costOfLife)"
            title="{{ unvalidatedInternship.costOfLife }} / 5"></i>
          <i class="fas fa-dollar-sign grey-dollar"
            *ngFor="let greydollar of getGreyDollarArray(unvalidatedInternship.costOfLife)"
            title="{{ unvalidatedInternship.costOfLife }} / 5"></i>
        </div>
        <div class="info">
          <span class="label">Ambiance au sein de l'entreprise: </span>
          <span>{{ unvalidatedInternship.ambience }}</span>
        </div>
        <div class="info">
          <span class="label">Description: </span>
          <span>{{ unvalidatedInternship.description }}</span>
        </div>
        <div *ngIf="unvalidatedInternship.lab" class="modal-content-info">
          <span class="contact">Tuteur: </span><a
            href="mailto:{{ unvalidatedInternship.tutorMail }}"><span>{{ unvalidatedInternship.tutorMail }}</span></a>
        </div>
      </div>
    </div>
  </div>
