html{
    scroll-behavior: smooth;
}

.column{
    height: 100%;
    text-align:center;
    padding:0;
}

a{
    color:inherit;
}

a:hover{
    text-decoration: none;
    color:inherit;
}

@media (max-width:991px){
    .column{
        height:100%;
    }
}

.recherche h4{
    margin-top:1em;
    color:white;
}

.filter-btn{
    margin:2em;
}

.input-select{
    display: block;
    margin: 2em;
    margin-right:3em;
    margin-left:3em;
}

.column .fa-times{
    color:red;
    cursor:pointer;
    -webkit-text-stroke: 3px #007ea7;
}

.input-select .fa-times{
    margin-top:4px;
}

input:focus{
    outline:none;
}

.form-control:focus, .input-text input:focus{
    border-color:#003c68;
    box-shadow:none;
}

.form-control, .input-text input{
    border:1px solid #003c68;
}

.column .filter-btn{
    background-color:#acffc5;
    color:black;
}

.column .btn:active, .column .btn:focus{
    box-shadow:none;
}

.column .filter-btn:hover{
    background-color:#5cf5ec
}

.title{
    margin-top: 1em;
    color: white;
}

.active-filter{
    width:80%;
    margin: auto;
    background-color: white;
    border-radius:5px;
    margin-bottom:1em;
    cursor:pointer;
}

.active-filter .fa-times{
    -webkit-text-stroke: 3px white;
}

.active-filter span{
    position: relative;
    top: 7px;
}

.price{
    color:white;
}
.price span{
    color:white !important;
}

.surface{
    color:white;
}
.surface span{
    color:white !important;
}

.slider label{
    width:70%;
}