<div class="row">
	<div class="col-lg-3 left-column">
		<app-country-filter></app-country-filter>
    </div>
    <div class="text-center no-filters col-lg-9" *ngIf="currCountry == null">
        <img class="logo" src="https://image.noelshack.com/fichiers/2019/21/7/1558886812-university.png" alt="POLYTECH ETRANGER"/>
    </div>
    <div class="col-lg-9 p-0" *ngIf="currCountry">
	    <img class="country-img img-fluid" src="{{currCountry.URL}}"/>
        <!--
            <div class="col-lg-6">
                <div class="Name">
                        Pays : {{currCountry.Name}}   
                </div>
                <div class="Currency">
                        Monnaie : {{currCountry.Currency}}   
                </div>
                <div class="Population">
                        Nombre d'Habitant : {{currCountry.Population}}   
                </div>
                <div class="Dialing">
                        Indicatif Téléphonique : {{currCountry.Dialing}}   
                </div>

            </div>
        -->
            <table class="table table-striped">
                <thead>
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">RestoU</th>
                  <th scope="col">Résidence Universitaire</th>
                  <th scope="col">Bourse</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let university of currUniversityList;">
                  <td>
                    {{ university.Name }}
                  </td>
                  <td>{{ university.RestoU}}</td>
                  <td>{{ university.ResidU }}</td>
                  <td>{{ university.Bourse }}</td>
                </tr>
                </tbody>
              </table>
    </div>
</div>
<app-footer>
        
</app-footer>
